body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #6b6b6b;
}
.scrolling {
	position: relative;
	width: 100%;
	height: 50px;
	overflow: hidden;
	margin-top: 50px;
}
.scroll {
	position: relative;
	width: 100%;
	height: 50px;
	overflow: hidden;
	margin-top: 50px;
}

.scrolling h4 {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 3em;
	text-align: center;
	line-height: 50px;
	color: rgb(13, 209, 62);
	transform: translateX(100%);
	animation: scrolling 15s linear infinite;
}
@keyframes scrolling {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}
.scroll h3 {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 3em;
	text-align: center;
	line-height: 50px;
	color: rgb(13, 209, 62);
	transform: translateX(100%);
	animation: scrolling 15s linear infinite;
}
@keyframes scroll {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}.buttons .ab{
    width: 12%;
    color: white;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.buttons .ac{
    width: 13%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.buttons .ad{
    width: 13%;
    color: white;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 45px;

}
.text-box p{
    font-size: 14px;

}
.buttons a{
    font-size: 14px;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 8px 40px;
    border:  1px solid #fff;
    margin-top: 10px;
    transition: .6s;
}
.text-box a:hover{
    background: rgb(27, 179, 22);
    border: 1px solid #f1f111;
}
