<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
  <h3 class="btn btn-info" style="margin-left: 45%; margin-top:1%;">Preview</h3>
  <div>
  <table class="table table-success table-striped" style="width: 80%; margin-left:10%">
    <tr>
      <th>1.</th>
      <th>FirstName</th>
      <th>{{ fname }}</th>
    </tr>
    <tr>
      <th>2.</th>
      <th>LastName</th>
      <th>{{ lname }}</th>
    </tr>
    <tr>
      <th>3.</th>
      <th>MiddleName</th>
      <th>{{ mname }}</th>
    </tr>
    <tr>
      <th>4.</th>
      <th>SurName</th>
      <th>{{ sname }}</th>
    </tr>
    <tr>
      <th>5.</th>
      <th>Gender</th>
      <th>{{ gender }}</th>
    </tr>
    <tr>
      <th>6.</th>
      <th>Email</th>
      <th>{{ email }}</th>
    </tr>
    <tr>
      <th>7.</th>
      <th>Phone Number</th>
      <th>{{ phone }}</th>
    </tr>
    <tr>
      <th>8.</th>
      <th>Father / Husband name</th>
      <th>{{ fhname }}</th>
    </tr>
    <tr>
      <th>9.</th>
      <th>Nominee</th>
      <th>{{ nominee }}</th>
    </tr>
    <tr>
      <th>10.</th>
      <th>Type of Relation</th>
      <th>{{ relation }}</th>
    </tr>
    <tr>
      <th>11.</th>
      <th>Age</th>
      <th>{{ age }}</th>
    </tr>
    <tr>
      <th>12.</th>
      <th>Date Of Birth</th>
      <th>{{ dob }}</th>
    </tr>
    <tr>
      <th>13.</th>
      <th>Address line 1</th>
      <th>{{ add1 }}</th>
    </tr>
    <tr>
      <th>14.</th>
      <th>Address line 2</th>
      <th>{{ add2 }}</th>
    </tr>
    <tr>
      <th>15.</th>
      <th>District</th>
      <th>{{ dis }}</th>
    </tr>
    <tr>
      <th>16.</th>
      <th>State</th>
      <th>{{ state }}</th>
    </tr>
    <tr>
      <th>17.</th>
      <th>Pincode</th>
      <th>{{ pin }}</th>
    </tr>
    <tr>
    <td><a href="" style="width: 50%;" class="btn btn-primary">Edit</a></td>
    <td><a href="" style="width: 50%; margin-left:12%;" class="btn btn-success">Save & Continue</a></td>
    <td><a href="" style="width: 50%;" class="btn btn-danger">Exit</a></td>
    </tr>
  </div>
 
   
  
    
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>