<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/swervi.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/07555236b8.js" crossorigin="anonymous"></script>
    <title>Our Services</title>
</head>
<body>

    <div class="container">
        <h2>Our Services</h2>
        <section class="services">
            <div class="card">
                <div class="content">
                    <div class="icon"><i class="fa fa-car"></i></div>
                    <div class="title">Vehicle Insurance</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, reprehenderit.</p>
                    <br>
                    <a href="" class="btn_btn-primary">Read more</a>
                </div>
            </div>
            
            <div class="card">
                <div class="content">
                    <div class="icon"><i class="fa-solid fa-notes-medical"></i></div>
                    <div class="title">Health Insurance </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, reprehenderit.</p>
                    <br>
                    <a href="" class="btn_btn-primary">Read more</a>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="icon"><i class="fa-solid fa-heart-circle-plus"></i></div>
                    <div class="title">Life Insurance </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, reprehenderit.</p>
                    <br>
                    <a href="" class="btn_btn-primary">Read more</a>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="icon"><i class="fa fa-home"></i></div>
                    <div class="title">Home Insurance</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, reprehenderit.</p>
                    <br>
                    <a href="" class="btn_btn-primary">Read more</a>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="icon"><i class="fa-solid fa-hands-holding-child"></i></div>
                    <div class="title">Child plan Insurance</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, reprehenderit.</p>
                    <br>
                    <a href="" class="btn_btn-primary">Read more</a>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="icon"><i class="fa-solid fa-house-flood-water"></i></div>
                    <div class="title">Catasrophe Insurance</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, reprehenderit.</p>
                    <br>
                    <a href="" class="btn_btn-primary">Read more</a>
                </div>
            </div>
            
        </section>
    </div>
    
</body>
</html>
</body>
</html>